<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <div class="page-content">
      <div class="header-background"><div class="img"></div></div>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <a href="javascript:toggleblock('notice')" style="text-align:center;font-size:70%;color:#808080">▶ viet-wics.github.io's clustrmaps 🌎</a>.
    <div id="notice" style="display:none; color:#dedede; font-size:.5em;">
      <p>
        <a href='https://clustrmaps.com/site/1bzix'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=300&t=tt&d=e1hjFkDQQxqPF5XaNZCC4_lnVx6Ub9wKoVRc8QQJWvs&co=2d78ad&ct=ffffff'/></a>
      </p>
    </div>

    {% include footer.html %}

    
    {% include hemline.html %}
  </body>

</html>
