---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">A Retrospective for "{{ page.title }}"</h1>
    <p class="post-meta">{% if page.retrospective_author %}{{ page.retrospective_author }} • {% endif %}{{ page.date | date: "%B %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    <ul>
      <li>Original Paper : <a href="{{page.original_paper_link}}">{{page.original_paper}}</a>
      <li>Paper written by : {{page.original_paper_authors}}</li>
      <li>Retrospective written by : {{page.retrospective_author}}</li>
    </ul>

    {{ content }}
  </article>
 
</div>
